/*總體基礎*/
* {
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #120c00c7;
    background-image: url(../img/—Pngtree—paper\ folds\ texture\ background_1465971.png);
    background-blend-mode: multiply;
    background-attachment: fixed;
    z-index: -99;
}

/*480以下(手機基礎)*/
/*字形設定*/
.h1 {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: normal;
    margin: 0;
    color: rgb(235, 217, 176);
}

.h2 {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.4;
    margin: 0;
    color: rgb(235, 217, 176);
}

.p {
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    line-height: 2;
    margin: 0;
    color: rgb(235, 217, 176);
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

/*共用物件*/
.line {
    width: 50%;
    height: 1px;
    background-color: rgb(235, 217, 176);
}

.titlebar {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: #2d0000;
}

.titlebar h1 {
    color: rgb(235, 217, 176);
}

/*fix物件*/
.totop {
    position: fixed;
    right: 3%;
    top: 85%;
    width: 50px;
    z-index: 1001;
}

/*導覽條*/
.nav {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #fff7c6;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
}

.nav-ul {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    height: 100vh;
    padding: 0;
    margin: 0;
}

.nav-li {
    width: 200px;
    padding: 0;
    margin: 0;
}

.nav-li h2 {
    color: #52351c;
}

.nav-li::after {
    position: absolute;
    content: "";
    background-color: #52351c;
    width: 0;
    height: 5px;
    z-index: -1;
    transition: all 0.4s ease-in-out;
}

.nav-li:hover::after {
    background-color: #52351c;
    width: 200px;
    height: 5px;
    z-index: -1;
}

/*大圖*/
.main-pic {
    position: relative;
    z-index: -999;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: url(../img/test用.png);
    background-position: center;
}

/*前導故事調整*/
.story {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    background-position: center;
    background-color: rgba(21, 21, 21, 0.6);
    background-image: url(../img/background.jpg);
    background-attachment: fixed;
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100%;
    height: 110vh;
    z-index: 1;
}

.story::after {
    position: absolute;
    content: "";
    background-color: #271d0dc7;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 100%;
    z-index: -1;
}

.story-h2 {
    font-size: 2em;
}

.story-p {
    text-align: center;
}

/*intro區域調整*/
.intro {
    position: relative;

}

.intro-box {
    height: 390px;
    justify-content: space-between;
}

.intro-img {
    height: 190px;
    overflow: hidden;
}

.intro-p {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
}

.intro-p h2 {
    font-style: italic;
}

/*intro區域調整-各box位置*/
.box-1 {
    margin-top: 100px;
}

.box-2 {
    margin-top: 150px;
}

.box-2 .intro-img {
    order: -1;
}

.box-3 {
    margin-top: 150px;
    margin-bottom: 100px;
}

/*玩法介紹設定*/
.Sys-block {
    position: relative;
    height: 750px;
    margin-top: 80px;
}

.opSys,
.batSys,
.itemSys {
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
    height: 673px;
    /*背景*/
    background-image: url(../img/玩法系統用.jpg);
    background-color: #fff7c6bb;
    background-blend-mode: multiply;
    background-attachment: fixed;
    /*影子*/
    box-shadow: 10px 10px 20px 10px rgba(6, 5, 5, 0.788);
    z-index: 2;
}

.opSys-h2,
.opSys-aside h2,
.opSys-aside p,
.opSys h2,
.batSys-h2,
.itemSys-h2,
.itemSys-aside h2,
.itemSys-aside p,
.itemSys h2 {
    color: black;
}


/*切換按鈕的調整*/
.switch-but-opSys {
    cursor: pointer;
    position: absolute;
    left: -2px;
    z-index: 4;
}

.switch-but-batSys {
    cursor: pointer;
    position: absolute;
    left: 20%;
    z-index: 3;
}

.switch-but-itemSys {
    cursor: pointer;
    position: absolute;
    left: 40%;
    z-index: 2;
}

.switch-but-speSys {
    cursor: pointer;
    position: absolute;
    left: 60%;
    z-index: 1;
}

.pickup {
    width: 25%;
    height: 40px;
    text-align: center;
    top: -40px;
    background-image: url(../img/玩法系統用.jpg);
    background-color: #fff7c6bb;
    background-blend-mode: multiply;
    background-attachment: fixed;
    border-radius: 20% 20% 0 0;
    border: 2px solid #463d34e0;
    border-bottom: 0;
    z-index: 999;
}

.notpickup {
    width: 25%;
    height: 30px;
    text-align: center;
    top: -30px;
    background-image: url(../img/玩法系統用.jpg);
    background-color: #868267bb;
    background-blend-mode: multiply;
    background-attachment: fixed;
    border-radius: 20% 20% 0 0;
    border: 2px solid #463d34e0;
    border-bottom: 0;
}

.pickup h2,
.notpickup h2 {
    color: black;
}

/*玩法介紹-操作系統*/
.opSys-h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

/*玩法介紹-操作系統-單個介紹框*/
.opSys-aside {
    display: flex;
    height: 196px;
    justify-content: center;
    flex-flow: row wrap;
}

.opSys-aside h2 {
    width: 100%;
    text-align: center;
    font-style: italic;
}

.opSys-aside p {
    display: flex;
    align-items: center;
    width: 60%;
    height: 100px;
    text-align: center;
}

.artical-picbox {
    width: 40%;
    height: 100px;
    overflow: hidden;
}

/*玩法介紹-道具系統*/
.itemSys-h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

/*玩法介紹-道具系統-單個介紹框*/
.itemSys-aside {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    height: 196px;
}

.itemSys-aside h2 {
    width: 100%;
    text-align: center;
    font-style: italic;
}

.itemSys-aside p {
    display: flex;
    align-items: center;
    width: 60%;
    height: 100px;
    text-align: center;
}

/*角色介紹設定*/
.char-block {
    height: 633px;
    margin-top: 40px;
}

.show-box {
    height: 159px;
    margin-top: 50px;
}

.show-box p {
    display: flex;
    justify-content: center;
    align-items: center;
}

.spare-box {
    margin-top: 30px;
}

.show-pic {
    height: 159px;
    overflow: hidden;
}

.select-pic {
    height: 0%;
    cursor: pointer;
}

.select-picbox {
    display: none;
    height: 157px;
    overflow: hidden;
}

/*關於我們設定*/
.workplace-block {
    margin-top: 40px;
    height: 480px;

}

.workplace-main {
    justify-content: center;
    margin-top: 30px;
    height: 400px;
}

.workplace-aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*支持我們設定*/
.sup-block {
    margin-top: 40px;
}

.sup-main {
    justify-content: center;
    align-items: center;
    height: 730px;
    margin-top: 30px;
    border-radius: 30px;
    background-color: rgb(163, 163, 163);
}

.bar-box {
    position: relative;
    border-style: solid;
    height: 90%;
    padding: 0;
    border-width: 2px;
    border-radius: 50px;
    border-color: #52351c;
}

.sup-bar {
    position: absolute;
    bottom: 0;
    height: 0;
    width: 100%;
    background-color: rgb(235, 217, 176);
    border-radius: 50px;
}

.sup-aside {
    height: 90%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
}

/*footer的調整*/
.footer {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    width: 100%;
    height: 100px;
    background-color: #2d0000;
}

.footer-box {
    display: flex;
    justify-content: center;
    align-content: space-around;
    flex-wrap: wrap;
    width: 550px;
}

.footer-h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 550px;
}

.footer-p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 550px;
}

.fa-brands {
    font-size: 2rem;
}

/*-------------------------------------------------------*/
@media screen and (min-width: 576px) {

    /*576以上(平板電腦)標準*/
    html {
        font-size: 20px;
    }

    /*共用物件*/
    .titlebar {
        transform: translateX(-60%);
        justify-content: end;
        width: 100%;
        height: 90px;
    }

    .titlebar h1 {
        padding-right: 20px;
    }

    /*導覽條*/
    .nav {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        background-color: #fff7c6;
        width: 100vw;
        height: 100vh;
        z-index: 1000;
    }

    .nav-ul {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-around;
        align-items: center;
        list-style: none;
        height: 100vh;
        padding: 0;
        margin: 0;
        color: #52351c;
    }

    .nav-li {
        width: 200px;
        padding: 0;
        margin: 0;
        color: #52351c;
    }

    .nav-li::after {
        position: absolute;
        content: "";
        background-color: #52351c;
        width: 0;
        height: 5px;
        z-index: -1;
        transition: all 0.4s ease-in-out;
    }

    .nav-li:hover::after {
        background-color: #52351c;
        width: 200px;
        height: 5px;
        z-index: -1;
    }

    /*intro區域調整*/
    .intro {
        position: relative;

    }

    .intro-box {
        height: 211px;
        justify-content: space-between;
    }

    .intro-img {
        height: 211px;
        overflow: hidden;
    }

    .intro-p {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-evenly;
    }

    .intro-p h2 {
        font-style: italic;
    }

    /*intro區域調整-各box位置*/
    .box-1 {
        margin-top: 100px;
    }

    .box-2 {
        margin-top: 150px;
    }

    .box-2 .intro-img {
        order: 0;
    }

    .box-3 {
        margin-top: 150px;
        margin-bottom: 100px;
    }

    /*玩法介紹調整*/
    .Sys-block {
        position: relative;
        height: 1360px;
        margin-top: 100px;
    }

    .opSys,
    .batSys,
    .itemSys {
        flex-wrap: wrap;
        justify-content: center;
        align-content: space-around;
        height: 1200px;
        /*背景*/
        background-image: url(../img/玩法系統用.jpg);
        background-attachment: fixed;
        /*影子*/
        box-shadow: 10px 10px 20px 10px rgba(6, 5, 5, 0.788);
        z-index: 2;
    }

    /*角色介紹設定*/
    .char-block {
        height: 789px;
        margin-top: 100px;
    }

    .show-box {
        height: 362px;
        margin-top: 100px;
        justify-content: center;
    }

    .spare-box {
        display: none;
        margin-top: 120px;
        justify-content: center;
        height: 500px;
    }

    .show-box p {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .show-pic {
        height: 362px;
        overflow: hidden;
    }

    .spare-pic {
        display: none;
        height: 159px;
    }

    .select-pic {
        justify-content: center;
        height: 167px;
        margin-top: 70px;
        cursor: pointer;
    }

    .select-picbox {
        display: block;
        height: 167px;
        overflow: hidden;
    }

    /*關於我們設定*/
    .workplace-block {
        margin-top: 100px;
        height: 480px;
    }

    .workplace-main {
        justify-content: center;
        margin-top: 50px;
        height: 260px;
    }

    .workplace-aside {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    /*支持我們設定*/
    .sup-block {
        margin-top: 100px;
    }

    .sup-main {
        justify-content: center;
        height: 700px;
        margin-top: 100px;
    }

    .bar-box {
        border-style: solid;
        border-width: 2px;
        border-color: black;
    }

    .sup-aside {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-around;
    }

    /*footer的調整*/
    .footer {
        position: relative;
        display: flex;
        justify-content: center;
        width: 100%;
        height: 250px;
        margin-top: 150px;
    }

    .footer-box {
        display: flex;
        justify-content: center;
        align-content: space-around;
        flex-wrap: wrap;
        width: 550px;
    }

    .footer-h2 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 550px;
    }

    .footer-p {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 550px;
    }

    .fa-brands {
        font-size: 3.5rem;
    }
}

/*--------------------------------------------------------*/
@media screen and (min-width: 1200px) {

    /*1200以上(電腦)標準*/

    html {
        font-size: 20px;
    }

    /*共用物件*/
    .titlebar {
        transform: translateX(-60%);
        justify-content: end;
        width: 100%;
        height: 120px;
    }

    .titlebar h1 {
        padding-right: 20px;
    }

    .totop {
        position: fixed;
        right: 3%;
        top: 85%;
        width: 100px;
        z-index: 1001;
    }

    /*導覽條*/
    .nav {
        display: flex;
        position: fixed;
        top: 0;
        right: 0;
        background: none;
        width: 10%;
        z-index: 1000;
    }

    .nav-ul {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-around;
        list-style: none;
        height: 60vh;
        padding: 0;
        margin: 0;
        background-color: 0;
        color: #52351c;
    }

    .nav-li h2 {
        text-align: left;
        color: #fff7c6;
    }

    .nav-li::after {
        position: absolute;
        content: "";
        background-color: #fff7c6;
        width: 0;
        height: 5px;
        z-index: -1;
        transition: all 0.4s ease-in-out;
    }

    .nav-li:hover::after {
        background-color: #fff7c6;
        width: 65%;
        height: 5px;
        z-index: -1;
    }

    /*intro區域調整*/
    .intro {
        position: relative;
        height: 1468px;
    }

    .intro-box {
        height: 356px;
        justify-content: space-between;
    }

    .intro-img {
        height: 356px;
        overflow: hidden;
    }

    /*intro區域調整-各box位置*/
    .box-1 {
        margin-top: 100px;
    }

    .box-2 {
        margin-top: 150px;
    }

    .box-2 .intro-img {
        order: 0;
    }

    .box-3 {
        margin-top: 150px;
        margin-bottom: 100px;
    }


    /*玩法介紹設定*/
    .Sys-block {
        position: relative;
        height: 1200px;
        margin-top: 90px;
    }

    .opSys,
    .batSys,
    .itemSys {
        flex-wrap: wrap;
        justify-content: center;
        align-content: space-around;
        height: 1000px;
        /*背景*/
        background-image: url(../img/玩法系統用.jpg);
        background-attachment: fixed;
        /*影子*/
        box-shadow: 10px 10px 20px 10px rgba(6, 5, 5, 0.788);
        z-index: 2;
    }

    /*切換按鈕的調整*/
    .switch-but-opSys {
        cursor: pointer;
        position: absolute;
        left: -2px;
        z-index: 4;
    }

    .switch-but-batSys {
        cursor: pointer;
        position: absolute;
        left: 12%;
        z-index: 3;
    }

    .switch-but-itemSys {
        cursor: pointer;
        position: absolute;
        left: 24%;
        z-index: 2;
    }

    .switch-but-speSys {
        cursor: pointer;
        position: absolute;
        left: 36%;
        z-index: 1;
    }

    .pickup {
        width: 180px;
        height: 50px;
        text-align: center;
        top: -50px;
        border-radius: 20% 20% 0 0;
        border-bottom: 0;
        z-index: 999;
    }

    .notpickup {
        width: 180px;
        height: 40px;
        text-align: center;
        top: -40px;
        border-radius: 20% 20% 0 0;
        border-bottom: 0;
        color: black;
    }

    /*玩法介紹-操作系統*/
    .opSys-h2 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 370px;
    }

    /*玩法介紹-操作系統-單個介紹框*/
    .opSys-aside {
        display: flex;
        height: 320px;
        justify-content: center;
        flex-flow: row wrap;
    }

    .opSys-aside h2 {
        width: 100%;
        height: 74px;
        text-align: center;
        font-style: italic;
    }

    .opSys-aside p {
        width: 60%;
        height: 157px;
        text-align: center;
    }

    .artical-picbox {
        width: 40%;
        height: 157px;
        overflow: hidden;
    }

    /*玩法介紹-道具系統*/
    .itemSys-h2 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 370px;
    }

    /*玩法介紹-道具系統-單個介紹框*/
    .itemSys-aside {
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
        height: 320px;
    }

    .itemSys-aside h2 {
        width: 100%;
        height: 74px;
        text-align: center;
        font-style: italic;
    }

    .itemSys-aside p {
        width: 60%;
        height: 157px;
        text-align: center;
    }

    /*角色介紹設定*/
    .char-block {
        height: 1007px;
        margin-top: 90px;
    }

    .show-box {
        margin-top: 120px;
        justify-content: center;
        height: 500px;
    }

    .spare-box {
        display: none;
        margin-top: 120px;
        justify-content: center;
        height: 500px;
    }

    .show-box p {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .show-pic {
        height: 500px;
        overflow: hidden;
    }

    .select-pic {
        justify-content: center;
        height: 197px;
        margin-top: 70px;
        cursor: pointer;
    }

    .select-picbox {
        display: block;
        height: 197px;
        overflow: hidden;
    }

    /*關於我們設定*/
    .workplace-block {
        margin-top: 90px;
        height: 653px;
    }

    .workplace-main {
        justify-content: center;
        margin-top: 120px;
        height: 413px;
    }

    .workplace-aside {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .workplace-aside h2,
    .workplace-aside p {
        text-align: left;
    }

    /*支持我們設定*/
    .sup-block {
        margin-top: 90px;
    }

    .sup-main {
        justify-content: center;
        height: 750px;
        margin-top: 120px;
    }

    .bar-box {
        border-style: solid;
        border-width: 2px;
        border-color: black;
    }

    .sup-aside {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-around;
    }

    /*footer的調整*/
    .footer {
        position: relative;
        display: flex;
        justify-content: center;
        margin-top: 150px;
        width: 100%;
        height: 250px;
    }

    .footer-box {
        display: flex;
        justify-content: center;
        align-content: space-around;
        flex-wrap: wrap;
        width: 550px;
    }

    .footer-h2 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 550px;
    }

    .footer-p {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 550px;
    }

    .fa-brands {
        font-size: 3.5rem;
    }
}